.password {
  position: relative;
  padding-top: 10rem;
}
.form {
  width: 100%;
  padding: 2rem;
  background-color: $color-background-light;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  display: grid;
  &__container {
    &--right {
      grid-column: 6 / span 3;
      width: 100%;
    }
    &--center {
      grid-column: 3 / span 4;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
      width: 70%;
      padding-bottom: 10rem;
    }
  }
  &-request-code {
    width: max-content;
  }
  &__field {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: $color-font-primary;
    &-box {
      display: grid;
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
      gap: 2rem;
    }
    &--inline {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
  &__input {
    display: block;
    border: 1px solid $color-border;
    background-color: inherit;
    border-radius: $border-radius;
    padding: 1.5rem;
    &:focus {
      outline: none;
    }
    &:focus::-webkit-input-placeholder {
      opacity: 0;
    }
    &::-webkit-input-placeholder {
      opacity: 1;
      transition: all 0.1s;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type="number"] {
      -moz-appearance: textfield;
    }
    & + & {
      margin-left: 1rem;
    }
    &[type="checkbox"] {
      border-radius: $border-radius;
      display: inline-block;
      accent-color: $color-btn-primary;
      &:checked ~ label {
        color: $color-btn-primary !important;
      }
    }
  }
  &__option {
    font-size: $default-font-size;
    color: $color-font-secondary;
  }
  &__label {
    display: block;
  }
  & button {
    width: 100%;
  }
  & a {
    margin: 0 auto;
  }
  &__checkbox-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem 5rem;
  }
}
.radio {
  &__group {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: start;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
}
.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}
